<div class="container">
    <div class="col-md-10">
        <div class="alert alert-warning">
            <strong>
                Tem certeza que gostaria de excluir o dia {{horaExcluir.data | date: 'dd/MM/yyyy'}} 
                às {{horaExcluir.hora}} horas?
            </strong>
        </div>
        </div>
        <div class="container col-md-4">
            <button class="btn btn-md btn-danger btn-space" (click)="onExcluirClick()">Excluir</button>
            <button class="btn btn-md btn-primary btn-space" (click)="onVoltarClick()">Voltar</button>            
        </div>
</div>