<nav [class]="classe">

    <!-- Links -->
    <a href="javascript:void(0);" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a href="javascript:void(0);" [routerLink]="['/situacao']" [routerLinkActive]="['active']">Listar reservas</a>
    <a href="javascript:void(0);" [routerLink]="['/reserva']" [routerLinkActive]="['active']">Reservar</a>
    <a href="javascript:void(0);" class="icon" (click)="onClick()">
        <i class="fa fa-bars"></i>
    </a>
</nav> 
<router-outlet></router-outlet>